<footer id="rodape">
    <div class="conatiner">
        <div class="row d-flex">
            
            <div class="col-md-3" id="navbar-rodape">
                <ul class="navbar-nav">
                    <li><a href="https://en.bandainamcoent.eu/dark-souls">Compre</a></li>
                    <li><a href="https://www.fromsoftware.jp/ww/">Produtora</a></li>
                    <li><a href="https://www.fromsoftware.jp/ww/">Sobre</a></li>
                    <li><a href="https://www.fromsoftware.jp/ww/">Links Uteis</a></li>
                </ul>
            </div>
        
            <div class="col-md-2  ml-auto align-self-center" id="navbar-rodape">
                    <a href="" class="btn btn-primary"><i class="fab fa-facebook-square fa-lg"></i></a>
                    <a href="" class="btn btn-primary"><i class="fab fa-twitter-square  fa-lg"></i></a>
                    <a href="" class="btn btn-primary"><i class="fab fa-instagram       fa-lg"></i></a>
            </div>

            <div class="col-md-12 copyright">
                    <span>&copy;Todos os direitos reservados aos seus criadores</span>
            </div>
        </div>
    </div>
</footer>
