<div class="col-md-10">
    <header id="topo" class="align-self-center">
        <div class="container">
            <nav class="navbar navbar-expand-md fixed-top">
            
                <a href="index.html"><img src="https://www.finalfantasyexvius.com/images/common/logo.png" alt="" width="120" height="140"></a>
    
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-principal">
                        <i class="fas fa-bars  bg-light"></i>
                </button>
                    
                <div  class=" collapse navbar-collapse " id="navbar-principal">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="historia.html" class="nav-link">Historia</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Personagens</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Chefes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Armas</a>
                            <div class="dropdown-menu">
                                <a href=""class="dropdown-item">Espadas</a>
                                <a href=""class="dropdown-item">Machados</a>
                                <a href=""class="dropdown-item">Lanças</a>
                                <a href=""class="dropdown-item">Cajados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Armaduras</a>
                            <div class="dropdown-menu">
                                <a href="" class="dropdown-item">Pesadas</a>
                                <a href="" class="dropdown-item">Medias</a>
                                <a href="" class="dropdown-item">Leves</a>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </nav>
        </div>
    </header>
</div>
